<html>
	<head>
		<title>My Little Weird Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="wwww.wilkmademe.blogspot.com">Just another blog of mine</a></h1>
		</div>

		<div>
			<p>published: 21.04.17, 10:00</p>
			<h2><a href="">My first post</a></h2>
			<p>Napisałabym coś mądrego, ale nie chce mi się myśleć</p>
		</div>

		<div>
			<p>published: 21.04.17, 10:00</p>
			<h2><a href="">My second post</a></h2>
			<p>Napisałabym coś mądrego, ale nie chce mi się myśleć</p>
		</div>
	</body>
</html>